
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.main {
    padding: 10px;
}

span.ports {
    color: green;
    font-family: monospace;
}

header, footer {
    background-color: pink;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

header {
    top: 0px;
}

header > a, footer > a {
    color: dimgray;
    font-weight: bold;
    text-decoration: none;
}

aside {
    border-style: solid;
    margin: 16px;
    padding: 0px 8px;
}

p, pre {
    margin: 8px 0px;
    padding: 4px 16px;
}

figure {
    text-align: center;
}

div.main > h1 {
    text-align: center;
}

section > h1 {
    border-bottom-style: solid;
}

section {
    margin: 16px 0px;
}

td {
    padding: 2px 24px 2px 2px;  /* top right bottom left */
}

/**
 * vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4
 */
