
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.main {
    padding: 10px;
}

span.ports {
    color: green;
    font-family: monospace;
}

header, footer {
    background-color: pink;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

header {
    top: 0px;
}

header > a, footer > a {
    color: dimgray;
    font-weight: bold;
    text-decoration: none;
}

/**
 * vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4
 */
